.SM_heading {
    width: 100%;
    font-size: 22px;
    color: black;
  }
  
  .SM_main_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: black;
  }